POSTGRES_USER=admin
POSTGRES_PASSWORD=change-this-locally
POSTGRES_DB=platform_db

GRAFANA_ADMIN_PASSWORD=change-this-locally
SPLUNK_PASSWORD=change-this-locally
DEMO_USER_PASSWORD=change-this-locally

ALLOWED_ORIGINS=http://localhost:8086
